.cont-contact{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 50px;
    user-select: none;
}
#titre-cont-contact{
    font-size: 40px;
    font-weight: 800;
    color: rgb(97, 179, 218);
}
 #img{
    margin-bottom: 30px;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
#para-nav #nav{
    color:black ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.cont-contact .mail-div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    padding: 70px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    transition: transform 0s;
}
.mail-div:hover{
    box-shadow: 5px 7px 50px rgb(192, 188, 188);
    transform: translateY(-3px);
}
.cont-contact  .phone-local-div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.phone-local-div .blog{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    transition: transform 0s;
}
.blog:hover{
    box-shadow: 5px 7px 50px rgb(192, 188, 188);
    transform: translateY(-3px);
}
.phone-local-div  #para-el{
    color:black ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.treeblog{
    background-color: white;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 50px;
}
.treeblog .box-treeblog-left{
    flex: 3;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-treeblog-left > #image-treeblog{
    width: 50%;
    height: 480px;
    object-fit: cover;
}
.treeblog .box-treeblog-right{
    flex: 4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    user-select: none;
    
}
.box-treeblog-right #form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 35px;
}
.box-treeblog-right #titre-form{
    margin-left: 230px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(97, 179, 218);
}
.box-treeblog-right input[type='text']{
    width: 60%;
    height: 60px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgb(168, 168, 168);
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 20px;
}
.box-treeblog-right #textarea{
    width: 59%;
    height: 80px;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 22px;
    outline: none;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    margin-bottom: 30px;
}
.box-treeblog-right #btn{
    width: 25%;
    height: 70px;
    background-color: rgb(97, 179, 218);
    color: white;
    font-size: 22px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    
}

@media screen and (min-width: 0px) {
   .cont-contact{
    margin-top: 180px;
    margin-bottom: 100px;
    gap: 20px;
    font-size: 10px;
    }
    #titre-cont-contact{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(97, 179, 218);
}
    #para-nav #nav{
    font-size: 1rem;
    font-weight: 600;
}
    .phone-local-div  #para-el{
    font-size: 1rem;
    font-weight: 600;
}
    #img{
        margin-bottom: 0px;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .cont-contact .mail-div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 200px;
        height: 150px;
        padding: 30px 25px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        transition: transform 0s;
        font-size: 10px;
    }
    .mail-div:hover{
        box-shadow: 3px 5px 30px rgb(192, 188, 188);
        transform: translateY(-3px);
    }
    .cont-contact  .phone-local-div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .phone-local-div .blog{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 150px;
        height: 150px;
        padding: 50px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        transition: transform 0s;
    }

    .treeblog{
        background-color: white;
        width: 100%;
        height: 90vh;
        padding-bottom: 80px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        
    }

    .treeblog .box-treeblog-left{
        flex: 1;
        padding: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-treeblog-left > #image-treeblog{
        width: 60%;
        height: 200px;
        object-fit: cover;
    }

    .treeblog .box-treeblog-right{
        flex: 4;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        
    }
    .box-treeblog-right #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 5px;
    }
    .box-treeblog-right #titre-form{
        margin-left: 0px;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(97, 179, 218);;
    }

    .box-treeblog-right input[type='text']{
        width: 80%;
        height: 70px;
        outline: none;
        border-radius: 20px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 20px;
        padding-left: 20px;
        font-size: 1rem;
    }
    .box-treeblog-right #textarea{
        width: 80%;
        height: 80px;
        padding-left: 20px;
        padding-top: 30px;
        font-size: 1rem;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 30px;
    }
    .box-treeblog-right #btn{
        width: 80%;
        height: 55px;
        background-color: rgb(97, 179, 218);
        color: white;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 100px;
        border: none;
        
    }
}

@media screen and (min-width:500px){
    .cont-contact{
        margin-top: 300px;
        margin-bottom: 250px;
        gap: 20px;
        font-size: 10px;
        }
    .cont-contact .mail-div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 250px;
        padding: 55px 25px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        transition: transform 0s;
    }
    #titre-cont-contact{
        font-size: 1.95rem;
        font-weight: 700;
        color: rgb(97, 179, 218);
    }
        #para-nav #nav{
        font-size: 1.85rem;
        font-weight: 600;
    }
        .phone-local-div  #para-el{
        font-size: 1.85rem;
        font-weight: 600;
    }
    .cont-contact  .phone-local-div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .phone-local-div .blog{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 350px;
        height: 210px;
        padding: 50px;
        margin-top: 30px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        transition: transform 0s;
    }
    .treeblog{
        background-color: white;
        width: 100%;
        height: 90vh;
        padding-bottom: 350px;
        padding-top: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        
    }
    .treeblog .box-treeblog-left{
        flex: 4;
        padding: 0px;
        width: 100%;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .box-treeblog-left > #image-treeblog{
        width: 70%;
        height: 500px;
        padding: 25px;
        object-fit: cover;
    }

    .treeblog .box-treeblog-right{
        flex: 4;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        
    }

    .box-treeblog-right #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 5px;
    }
    .box-treeblog-right #titre-form{
        font-size: 1.95rem;
        font-weight: 700;
    }

    .box-treeblog-right input[type='text']{
        width: 80%;
        height: 90px;
        outline: none;
        border-radius: 20px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 20px;
        padding-left: 20px;
        font-size: 1.55rem;
    }
    .box-treeblog-right #textarea{
        width: 80%;
        height: 150px;
        padding-left: 20px;
        padding-top: 30px;
        font-size: 1.55rem;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 30px;
    }
    .box-treeblog-right #btn{
        width: 80%;
        height: 90px;
        background-color:rgb(97, 179, 218);;
        color: white;
        font-size: 1.55rem;
        font-weight: 600;
        border-radius: 100px;
        border: none;
        
    } 
}
 @media screen and (min-width:898px) {
    .cont-contact{
        margin-top: 180px;
        margin-bottom: 180px;
        gap: 20px;
        font-size: 10px;
        }
        .treeblog{
            background-color: white;
            width: 100%;
            height: 90vh;
            padding-bottom: 350px;
            padding-top: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5px;
          
}
 }

@media screen and (min-width:1024px) {
    
    .cont-contact{
        margin-top: 400px;
        margin-bottom: 300px;
        gap: 20px;
        font-size: 10px;
        }
    .treeblog{
        background-color: white;
        width: 100%;
        height: 80vh;
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        gap: 5px;
        
    }
    .treeblog .box-treeblog-left{
        flex: 3;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-treeblog-left > #image-treeblog{
        width: 90%;
        height: 350px;
        padding: 0px;
        object-fit: cover;

    }
    .treeblog .box-treeblog-right{
        flex: 4;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        
    }
    .box-treeblog-right #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 30px;
    }
    .box-treeblog-right #titre-form{
        margin-left:30px;
        font-size: 35px;
        font-weight: 700;
        color: rgb(52, 196, 253);
    }
    .box-treeblog-right input[type='text']{
        width: 60%;
        height: 60px;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 20px;
    }
    .box-treeblog-right #textarea{
        width: 59%;
        height: 80px;
        padding-left: 30px;
        padding-top: 50px;
        font-size: 22px;
        outline: none;
        border-radius: 7px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 10px;
    }
    .box-treeblog-right #btn{
        width: 60%;
        height: 60px;
        background-color: rgb(52, 196, 253);
        color: white;
        font-size: 22px;
        font-weight: 700;
        border-radius: 50px;
        border: none;
        
    }
} 

@media screen and (min-width:1453px){
    .cont-contact{
        margin-top: 300px;
        margin-bottom: 200px;
        gap: 20px;
        font-size: 10px;
        }
    .treeblog{
        background-color: white;
        width: 100%;
        height: 80vh;
        padding-bottom: 30px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        gap: 5px;
        
    }
    .treeblog .box-treeblog-left{
        flex: 3;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-treeblog-left > #image-treeblog{
        width: 80%;
        height: 480px;
        padding: 0px;
        object-fit: cover;

    }
    .treeblog .box-treeblog-right{
        flex: 4;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        
    }
    .box-treeblog-right #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 50px;
    }
    .box-treeblog-right #titre-form{
        margin-left:30px;
        font-size: 35px;
        font-weight: 700;
        color: rgb(52, 196, 253);
    }
    .box-treeblog-right input[type='text']{
        width: 60%;
        height: 60px;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 20px;
    }
    .box-treeblog-right #textarea{
        width: 59%;
        height: 80px;
        padding-left: 30px;
        padding-top: 50px;
        font-size: 22px;
        outline: none;
        border-radius: 7px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 10px;
    }
    .box-treeblog-right #btn{
        width: 60%;
        height: 60px;
        background-color: rgb(52, 196, 253);
        color: white;
        font-size: 22px;
        font-weight: 700;
        border-radius: 50px;
        border: none;
        
    }
}

@media screen and (min-width:2025px){
    .cont-contact{
        margin-top: 30px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        gap: 50px;
        user-select: none;
    }
    #titre-cont-contact{
        font-size: 40px;
        font-weight: 700;
        color: rgb(97, 179, 218);
    }
     #img{
        margin-bottom: 30px;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
    #para-nav #nav{
        color:black ;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    .cont-contact .mail-div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 150px;
        padding: 70px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        transition: transform 0s;
    }
    .mail-div:hover{
        box-shadow: 5px 7px 50px rgb(192, 188, 188);
        transform: translateY(-3px);
    }
    .cont-contact  .phone-local-div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }
    .phone-local-div .blog{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 300px;
        height: 200px;
        padding: 50px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        transition: transform 0s;
    }
    .blog:hover{
        box-shadow: 5px 7px 50px rgb(192, 188, 188);
        transform: translateY(-3px);
    }
    .phone-local-div  #para-el{
        color:black ;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
    
    .treeblog{
        background-color: white;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding-bottom: 50px;
    }
    .treeblog .box-treeblog-left{
        flex: 3;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-treeblog-left > #image-treeblog{
        width: 50%;
        height: 480px;
        object-fit: cover;
    }
    .treeblog .box-treeblog-right{
        flex: 4;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items:start;
        justify-content: center;
        
    }
    .box-treeblog-right #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:start;
        justify-content: center;
        gap: 35px;
    }
    .box-treeblog-right #titre-form{
        margin-left: 230px;
        font-size: 35px;
        font-weight: 700;
        color: rgb(52, 196, 253);
    }
    .box-treeblog-right input[type='text']{
        width: 60%;
        height: 60px;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 30px;
        padding-left: 20px;
        font-size: 20px;
    }
    .box-treeblog-right #textarea{
        width: 59%;
        height: 80px;
        padding-left: 30px;
        padding-top: 50px;
        font-size: 22px;
        outline: none;
        border-radius: 7px;
        border: 1px solid rgb(168, 168, 168);
        margin-bottom: 30px;
    }
    .box-treeblog-right #btn{
        width: 25%;
        height: 70px;
        background-color: rgb(52, 196, 253);
        color: white;
        font-size: 22px;
        font-weight: 700;
        border-radius: 50px;
        border: none;
        
    }
    
}
